.intro {
    max-width: 1400px;
    position: relative;
    display: flex;
    margin: 0 auto;
    padding: 0 74px 0 144px;
    margin-bottom: 102px;
}

.intro__backimg {
    position: absolute;
    left: 43.31%;
    right: 44.37%;
    top: 54.06%;
    bottom: 22.58%;

}

.intro__main {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-right: 74px;
}

.intro__ftext {
    width: 548px;
    height: 276px;
    font-family: 'Nunito';
    font-weight: 700;
    font-style: normal;
    line-height: 92px;
    font-size: 72px;
    color: $black;
}

.intro_ctext {
    width: 504px;
    height: 78px;
    font-family: 'DM Sans';
    font-weight: 400;
    font-style: normal;
    line-height: 160%;
    font-size: 16px;
    color: $grey;
}

.intro__main-linker {
    margin-top: 40px;
    list-style-type: none;
    flex-direction: row;
    display: flex;
    padding: 16px 32px;
    align-items: flex-start;
    width: 160px;
    background: $green;
    border-radius: 4px;
    height: 55px; 
    font-family: 'DM Sans';  
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
}

.intro__main-link {
    text-decoration: none;
    color: $white;
}

.intro__main-bottom {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.intro__bottom-item {
    display: flex;
    flex-direction: column;
}

.intro__bottom-ftext {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: $black;    
}

.intro__bottom-ltext {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #1A1A1A;
    font-style: normal;
    text-align: center;
}

.intro__right {
   position: relative; 
}

.intro__right-first {
    position: absolute;
    right: 30.75%;
    top: 31.44%;
    bottom: 62.15%;
    left: 0%;
}   

.intro__right-center {
    z-index: 1;  
    left: 58.49%;
    right: 0%;
    top: 19.11%;
    bottom: 70.49%;
    position: absolute;
}

.intro__right-left {
    z-index: 1;
    position: absolute;
    right: 1.02%;
    top: 55.39%;
    bottom: 16.2%;
    left: 65.78%;
}

.intro__ending {
    display: flex;
    margin-bottom: 128px;
}

.intro__ending-left {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.intro__left-ftext {
    width: 389px;
    height: 147px;
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: $black;
    font-style: normal;
}

.intro__ltext-link {
    text-decoration: none;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: $grey;
    font-style: normal;
}

.intro__ending-img {
    margin-left: 15px;
}

.intro__ending-img:first-child {
    margin-left: 0;
}

.hero {
    display: flex;
    margin-bottom: 128px;
}

.hero__list {
    margin-left: 80px;
    display: flex;
    flex-direction: column;
}

.hero__list-ftext {
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: $green;
    font-style: normal;
}

.hero__list-ctext {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: $black;
    font-style: normal;
}

.hero__list-ltext {  
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: $grey;
}

.hero__list-etext {
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: $grey;
    font-style: normal;
}

.hero__list-link {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    width: 155px;
    height: 55px;
    background: $green;
    border-radius: 4px;  
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: $white;
}

.hero__end {
   margin-bottom: 48px;
}

.hero__end-text {
    text-align: center;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}

.hero__end-linker {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__end-flink {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: $green;
}

.hero__end-link {
    padding: 0 25px;   
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: $grey;
}

.hero__end-link:last-child {
    padding: 0;
}

.Tree {
  display: flex;
  flex-direction: column;
}

.Tree__menu {
    display: flex;
}

.Tree__item {
    margin-left: 24px;
    width: 270px;
    height: 283px;
    padding: 0 76px 0 52px;
    display: flex;
    flex-direction: column;
    background: url(../images/background.svg)
}

.Tree__item:first-child {
    margin-left: 0;
}

.Tree__item--2 {
    background: url(../images/background-2.svg)
}

.tree__item-img {
    width: 120px;
    height: 153px;
}

.tree__item-ftext {  
    margin: 0;
    margin-top: 12px;
    margin-bottom: 20px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: $black;
}

.tree__like-dad {
    display: flex;
    align-items: center;
}

.tree_like {
    z-index: 1;
}

.tree_like:hover {
    z-index: 100;
    background-color: darkorange;
}

.tree__dollar {
    margin-top: 15px;
    width: 52px;
    font-family: 'Nunito';
    height: 19px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: $black;
}

.Tree__link {
    margin: 0 auto;
    margin-top: 40px;
    width: 130px;
    margin-bottom: 128px;
    padding: 16px 32px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    background: $green;
    border-radius: 4px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: $white;
}

.main {
    position: relative;
    display: flex;
    margin: 0;
    margin-bottom: 164px;
}

.main__left {
    display: flex;
    flex-direction: column;
}

.main__left-header {
    margin: 0;
    margin-right: 48px;
    margin-bottom: 43px;
}

.main__left-ftext {
    margin: 0;
    width: 497px;
    height: 50px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: $black;
}

.main__left-ltext {  
    width: 502px;
    height: 78px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: $grey;
}

.main__left-footer {
    padding: 20px 65px 30px 30px;
    position: absolute;
    left: 0%;
    right: 48.18%;
    top: 42.56%;
    bottom: 10%;
    z-index: 1;
    width: 597px;
    height: 205px;
    background: $green;
}

.main__left-person {
  padding-right: 10px;
}

.main__left-header2 {
    display: flex;
}

.main__left-inside {
    display: flex;
    flex-direction: column;
}

.main__left-ftext1 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: $white;
}

.main__left-ltext1 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $gray2;
}

.main__left-2ftext {
    font-family: 'DM Sans';
    font-style: normal;
    line-height: 160%;
    font-weight: 400;
    font-size: 16px;
    font-family: 'DM Sans';
    color: $gray2;
}

.btm-list {
    margin: 0 auto;
    margin-bottom: 79px;
    padding: 60px 503px 60px 55px;
    position: relative;
    width: 1040px;
    height: 320px;
    background-color: $mainblue;
    border-radius: 6px;
    display: flex;
}

.btm-list__ftext {
    margin: 0;
    width: 524px;
    height: 57px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: $black;
}

.btm-list__ltext {
    margin: 0;
    margin-bottom: 30px;
    width: 458px;
    height: 52px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: $grey;
}

input[type=email], select {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 8px 8px 20px;
    width: 451px;
    height: 56px;
    background: $white;
    border-radius: 4px;
    border: 0px;
}

input[type=submit], select {
    z-index: 1;
    position: absolute;
    top: 65%;
    bottom: 0;
    left: 38%;
    right: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding: 11px 16px;
    width: 98px;
    height: 40px;
    background: $green;
    border-radius: 4px;
    color: $white;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    border: 0px;
}

.btm-list__img {
    position: absolute;
    left: 72.5%;
    right: 2.31%;
    top: -10%;
    bottom: 0%;
}

.ender {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}

.ender__header {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.ender__header-ftext {
    margin: 0 auto;
    margin-bottom: 12px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    color: $black;
}

.ender__header-ltext {
    margin: 0 auto;
    width: 544px;
    margin-bottom: 40px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: $grey;
}

.ender__footer {
    position: relative;
    display: flex;
    width: 1152px;
    height: 241px;
}


.ender__footer--fimg {
    background: url(../images/rasm-1.png)
}

.end__footer-limg {
    position: absolute;
    left: 7%;
    right: 20%;
    top: 38.33%;
    bottom: 0%;
}


.footer {
    display: flex;
    margin: 0;
    margin-bottom: 96px;
}

.footer__left {
    padding-right: 200px;
    display: flex;
    flex-direction: column;
}

.footer__first-text {
    width: 107px;  
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: $black;
}

.footer__first-text2 {
    width: 158px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: $gray3;
}

.footer__left-text2 {
    font-family: 'DM Sans';
    width: 306px;
    height: 78px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: $gray3;
    padding: 0;
}

.footer__linker {
    display: flex;
    list-style: none;
    padding: 0%;
}

.footer__link {
    padding-left: 16px;
}

.footer__link:first-child {
    padding-left: 0;
}

.footer__right {
    display: flex;
}

.footer__right-first {
    padding-right: 80px;
    display: flex;
    flex-direction: column;
}

.footer__first-link {
    list-style-type: none;
    text-decoration: none;
}







