/* nunito-regular - latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: 
         url('../fonts/nunito-v25-latin-ext_latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/nunito-v25-latin-ext_latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-600 - latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    src:
         url('../fonts/nunito-v25-latin-ext_latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/nunito-v25-latin-ext_latin_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nunito-700 - latin-ext_latin_cyrillic */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    src: 
         url('../fonts/nunito-v25-latin-ext_latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/nunito-v25-latin-ext_latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* dm-sans-regular - latin-ext_latin */
@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: 
         url('../fonts/dm-sans-v11-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/dm-sans-v11-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* dm-sans-500 - latin-ext_latin */
  @font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    src: 
         url('../fonts/dm-sans-v11-latin-ext_latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/dm-sans-v11-latin-ext_latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  // _library.scss
$black: #000 !default;
$white: #ffffff  !default;
$green: #066F14 !default;
$grey: #4A4A4A !default;

@import "_generals.scss";
@import "_header.scss";
@import "_center.scss";